body {
margin: 0;
font-size: 16px;
color:#666;
}

h1,h2,h3,h5{
    color: #666;
    font-family: 'Bebas Neue', cursive;
}

h3 {
font-size: 50px;
}

.icons-rrss {
color: #666;
}

.icons-rrss a{
color: #ffffff;
text-decoration: none;
}

.subt-about {
color:#FFA500;
}

.nav-item {
font-size: 20px;
}

.text-portada {
color:darkgray;
}

.text-skill {
color:#FFA500;
}

.my-works {
font-size: 50px;
padding-top: 40px;

}

.img-portada {
width: 90%;
padding:5%;
}

.text-card {
font-size: 16px;
}

.img-int {
width: 100%;
}
.name-navba {

font-size: 40px;    
font-family: 'Bebas Neue', cursive;
text-align: center;
margin-top: 10px;
}

.logo-navbar {
width: 250px;
}

.logo-navbar img{
width: 100%;
}


header {
background-image: url('../img/portada-bg.png');
background-repeat: no-repeat;
background-position: left;
background-size: cover;
padding-bottom: 100px;
margin-top: 90px;     
}

.img-principal {
width: 100%;
}

.carousel-indicators {
    top: 110%;
        
 }
        
.carousel-indicators li {
        
width: 10px;
height: 10px;
border-radius: 50%;
background-color:#666;
margin-top: 30px;
        
     }

.carousel-iconos {
    filter: invert(59%) sepia(92%) saturate(1577%) hue-rotate(1deg) brightness(106%) contrast(101%);
    width: 75px;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
    height: 20px;
    width: 20px;
    outline: black;
    background-color: rgba(0, 0, 0, 0.7);
    background-size: 100%, 100%;
    border-radius: 100%;
    
}

.icons-work a{
    color:#FFA500;
    text-decoration: none;
    }
 .no-padding{
     padding: 0!important;
 }
/* On screens that are 992px or less, set the background color to blue */
@media screen and (max-width: 992px) {
.img-portada {

    margin-top: 70px;
    width: 100%;
}
  
}

/* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 600px) {

    .logo-navbar {
        width: 200px;
        }
 
    header {
        margin-top: 70px;     
        }

}