body {
margin: 0;
font-size: 16px;
color:#666;
}

h1,h2,h3,h4,h5{
    color: #666666;
    font-family: 'Bebas Neue', cursive;
}
.nav-item {
font-size: 20px;

}


.name-navbar {

font-size: 40px;    
font-family: 'Bebas Neue', cursive;
text-align: center;
margin-top: 10px;
}

.logo-navbar {
width: 250px;
}

.logo-navbar img{
    width: 100%;
}


header {
background-image: url('../img/portada.png');
background-repeat: no-repeat;
background-size: cover;
background-position: center;
margin-top: 90px;
height: 90vh;
      
}




.img-principal {
width: 100%;
}

.carousel-indicators {
    top: 110%;
        
        }
        
.carousel-indicators li {
        
width: 10px;
height: 10px;
border-radius: 50%;
background-color:#666;
margin-top: 30px;
        
     }

.carousel-iconos {
    filter: invert(59%) 
    sepia(100%) 
    saturate(3456%) 
    hue-rotate(332deg) 
    brightness(108%) 
    contrast(109%);
    width: 75px;
}
    